/*------------------
    Reset styles
------------------*/
*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    scroll-margin-top: 24px;
}

*:before,
*:after
{
    box-sizing: border-box;
}

html
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
        -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body
{
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img
{
    border-style: none;
}

textarea
{
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button
{
    margin: 0;

    -webkit-border-radius: 0;
            border-radius: 0;
         outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
            appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
{
    margin: 0;

    -webkit-appearance: none;
}

input[type=number]
{
    -moz-appearance: textfield;
}

:focus
{
    outline: 0;
}

:hover,
:active
{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear
{
    display: none;
}



/*-------------------
    Global styles
-------------------*/
:root
{
    --bg: url(../images/bg.png) 0 0/562px auto repeat #fff;
    --sidebar_width: 277px;
    --scroll_width: 17px;
    --text_color: #000;
    --font_size: 14px;
    --font_size_title: 24px;
    --font_family: 'Montserrat', 'Arial', sans-serif;
}


::selection
{
    color: #fff;
    background: #f27216;
}

::-moz-selection
{
    color: #fff;
    background: #f27216;
}



html
{
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;
}

html.custom_scroll ::-webkit-scrollbar
{
    width: 10px;
    height: 10px;

    background-color: var(--bg);
}

html.custom_scroll ::-webkit-scrollbar-thumb
{
    background-color: #f27216;
}


body
{
    font: var(--font_size) var(--font_family);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height:         fill-available;

    color: var(--text_color);
}

body.menu_open
{
    overflow: hidden;
}


button
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    color: inherit;
    border: none;
    background: none;
}


.wrap
{
    position: relative;
    z-index: 9;

    display: flex;
    overflow: clip;
    flex-direction: column;

    min-height: 100%;

    background: var(--bg);

    background-blend-mode: hard-light, normal;
}


.main
{
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
}


.cont
{
    width: 100%;
    max-width: 1248px;
    margin: 0 auto;
    padding: 0 24px;
}


.row
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;
}



.content_flex.row,
.content_flex > .cont.row
{
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
}


.content_flex .content
{
    position: relative;

    width: calc(100% - var(--sidebar_width) - 30px);
}


.content_flex .content > *:first-child
{
    margin-top: 0;
}

.content_flex .content > *:last-child
{
    margin-bottom: 0;
}



/*----------------
    Mini modal
----------------*/
.modal_cont
{
    position: relative;
}


.mini_modal
{
    position: absolute;
    z-index: 100;
    top: 100%;
    left: 0;

    visibility: hidden;

    transition: .2s linear;
    pointer-events: none;

    opacity: 0;
}


.mini_modal.active
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}



/*---------------
    Accordion
---------------*/
.accordion_item
{
    border-radius: 5px;
    background: #fff;
}


.accordion_item + .accordion_item
{
    margin-top: 10px;
}


.accordion_item .head
{
    position: relative;

    padding: 20px 50px 20px 25px;

    cursor: pointer;
}


.accordion_item .head .title
{
    font-size: 16px;
    font-weight: 700;
    line-height: 122%;

    transition: color .2s linear;
}


.accordion_item .head .arr
{
    position: absolute;
    top: 0;
    right: 17px;
    bottom: 0;

    display: block;

    width: 8px;
    height: 9px;
    margin: auto 0;

    transition: transform .2s linear;
}


.accordion_item .data
{
    display: none;

    margin-top: -9px;
    padding: 0 66px 22px 27px;
}


.accordion_item.active .head .title,
.accordion_item .head:hover .title
{
    color: #f27216;
}


.accordion_item.active .head .arr
{
    transform: rotate(180deg);
}



/*---------------
    Load more
---------------*/
.load_more
{
    margin-top: 47px;

    text-align: center;
}


.load_more .btn
{
    font-weight: 500;

    padding: 13px 41px;

    transition: .2s linear;

    border: 1px solid #f27216;
    border-radius: 5px;
}



/*------------
    Header
------------*/
header
{
    position: relative;
    z-index: 9;
    top: 0;
    left: 0;

    width: 100%;
    padding: 22px 0;

    background: #fff;
}


header .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



header .logo
{
    font-size: 24px;
    font-weight: 700;

    display: block;

    margin-right: auto;

    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}



header .menu
{
    gap: 42px;
}


header .menu_item > a
{
    font-weight: 500;

    text-decoration: none;

    color: currentColor;
}



header .langs
{
    margin-left: 24px;
}


header .langs .btn
{
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


header .langs .btn img
{
    display: block;

    width: 25px;
    height: 25px;
    margin-right: 8px;

    border-radius: 50%;
}


header .langs .btn .icon
{
    display: block;

    width: 8px;
    height: 9px;
    margin-left: 6px;
}



header .theme_btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 36px;
    height: 36px;
    margin-left: 23px;
}


header .theme_btn .icon
{
    display: block;

    width: 36px;
    height: 36px;
}



/*-------------
    Sidebar
-------------*/
aside
{
    position: relative;

    width: var(--sidebar_width);
    max-width: 100%;
}

aside.mob
{
    display: none;
}


aside > * + *
{
    margin-top: 30px;
}



aside .rating
{
    padding: 27px 23px 17px 25px;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}


aside .rating .title
{
    font-size: 16px;
    font-weight: 700;
    line-height: 122%;

    margin-bottom: 16px;
    padding-left: 9px;
}


aside .rating .items > *
{
    font-size: 12px;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 7px 0 7px 9px;

    text-transform: uppercase;

    border-bottom: 1px solid rgba(255, 255, 255, .20);
}


aside .rating .label
{
    font-weight: 600;
}


aside .rating .val
{
    line-height: 24px;

    width: 49px;
    max-width: 100%;

    text-align: center;

    border-radius: 5px;
}


aside .rating .val.bg
{
    background: #6da544;
}



aside .banner
{
    display: block;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px;
}


aside .banner img
{
    display: block;

    width: 100%;

    border-radius: inherit;
}



/*-----------------
    Mob. header
-----------------*/
.mob_header
{
    position: relative;
    z-index: 20;
    top: 0;
    left: 0;

    display: none;

    width: 100%;

    background: #fff;
}


.mob_header .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;

    height: 60px;
}



.mob_header .logo
{
    font-size: 20px;
    font-weight: 700;

    display: block;

    margin-right: auto;

    text-decoration: none;

    color: currentColor;
}



.mob_header .theme_btn
{
    display: none;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 36px;
    height: 36px;
}


.mob_header .theme_btn .icon
{
    display: block;

    width: 36px;
    height: 36px;
}


.menu_open .mob_header .theme_btn
{
    display: flex;
}



.mob_header .mob_menu_btn
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 24px;
    height: 24px;
    margin-left: 20px;

    color: currentColor;
}


.mob_header .mob_menu_btn .icon
{
    display: block;

    width: 22px;
    height: 22px;
}


.mob_header .mob_menu_btn .icon + .icon
{
    width: 20px;
    height: 20px;
}


.mob_header .mob_menu_btn .icon + .icon,
.mob_header .mob_menu_btn.active .icon
{
    display: none;
}

.mob_header .mob_menu_btn.active .icon + .icon
{
    display: block;
}



/*---------------
    Page head
---------------*/
.page_head
{
    margin-bottom: 35px;
    padding-top: 15px;
}

.page_head.small_m
{
    margin-bottom: 21px;
}

.page_head.middle_m
{
    margin-bottom: 32px;
}



.breadcrumbs
{
    font-weight: 500;

    color: #a1a4ac;
}

.breadcrumbs.black
{
    color: var(--text_color);
}


.breadcrumbs a
{
    text-decoration: none;

    color: currentColor;
}


.breadcrumbs .sep
{
    position: relative;
    top: 1px;

    display: inline-block;

    margin: 0 2px;

    vertical-align: top;
}



.page_title
{
    font-size: 36px;
    font-weight: 700;

    display: block;

    margin-top: 30px;
}


.page_title.orange
{
    color: #f27216;
}



/*----------------
    Block head
----------------*/
.block_head .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: 122%;

    display: block;
}


.block_head .desc
{
    font-size: 16px;
    line-height: 157%;

    margin-top: 8px;
}



/*----------------
    Typography
----------------*/
.text_block
{
    line-height: 157%;

    text-align: justify;
}


.text_block + .text_block
{
    margin-top: 30px;
}


.text_block > *
{
    margin-bottom: 15px;
}

.text_block > *.small_m
{
    margin-bottom: 10px;
}


.text_block > :last-child
{
    margin-bottom: 0 !important;
}

.text_block > :first-child
{
    margin-top: 0 !important;
}


.text_block h2
{
    font-size: 18px;
    font-weight: 700;
    line-height: 157%;

    color: #6da544;
}


.text_block h2 + *
{
    margin-top: 0 !important;
}


.text_block img
{
    display: block;

    max-width: 100%;
}


.text_block .banner
{
    display: block;

    margin-top: 30px;
    margin-bottom: 30px;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px;
}


.text_block .banner img
{
    display: block;

    width: 100%;
    margin: 0;

    border-radius: inherit;
}


.text_block ul li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 22px;

    list-style-type: none;
}

.text_block ul li:before
{
    position: absolute;
    top: 9px;
    left: 9px;

    display: block;

    width: 2px;
    height: 2px;

    content: '';

    border-radius: 50%;
    background: currentColor;
}


.text_block ol
{
    counter-reset: li;
}


.text_block ol li
{
    position: relative;

    display: block;
    overflow: hidden;

    padding-left: 22px;

    list-style-type: none;
}


.text_block ol li:before
{
    position: absolute;
    top: 0;
    left: 6px;

    content: counter(li) '.';
    counter-increment: li;
}


.text_block ol ol
{
    font-size: 12px;
    line-height: 138%;

    padding: 10px 0 10px 4px;

    counter-reset: sub_li;
}

.text_block ol ol > li
{
    padding-left: 26px;
}

.text_block ol ol > li:before
{
    content: counter(li) '.' counter(sub_li) '. ';
    counter-increment: sub_li;
}


.text_block .coefficients
{
    margin-top: 30px;
    margin-bottom: 30px;
}



.text_block .message
{
    font-weight: 600;

    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 32px 27px 26px;

    color: #fff;
    border-radius: 5px;
}


.text_block .message.green
{
    background: linear-gradient(100deg, #6da544 -.22%, #4b9514 97.76%);
}

.text_block .message.red
{
    background: linear-gradient(102deg, #ff6464 .49%, #e41212 108.44%);
}



/*--------------------
    First section
--------------------*/
.first_section
{
    position: relative;

    margin-bottom: 47px;

    background: linear-gradient(0deg, #fff 0%, #f2f2f2 100%);
}


.first_section .img
{
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;

    display: block;

    height: 371px;
    max-height: 100%;
    margin-left: -600px;

    pointer-events: none;
}


.first_section .img.right
{
    right: 50%;
    left: auto;

    margin-right: -600px;
    margin-left: 0;
}

.first_section .img.right.big_offset
{
    min-width: 228px;
    margin-right: -740px;
}


.first_section .cont
{
    position: relative;
    z-index: 3;

    padding-top: 69px;
    padding-bottom: 69px;
}

.first_section .cont.small_p
{
    padding-top: 40px;
    padding-bottom: 40px;
}


.first_section .data
{
    width: 677px;
    max-width: 100%;
    margin-left: auto;
}

.first_section .data.left
{
    margin-left: 0;
}


.first_section .title
{
    font-size: 46px;
    font-weight: 700;

    color: #f27216;
}


.first_section .title br
{
    display: none;
}


.first_section .text_block
{
    font-size: 15px;
    line-height: 23px;

    width: 545px;
    max-width: 100%;
    margin-top: 22px;

    text-align: left;
}


.first_section .mob_spoler_btn
{
    font-size: 14px;
    font-weight: 700;
    line-height: 23px;

    display: none;

    margin-top: 8px;

    text-decoration: underline;

    text-decoration-thickness: 1px;
}


.first_section .mob_spoler_btn span + span,
.first_section .mob_spoler_btn.active span
{
    display: none;
}


.first_section .mob_spoler_btn.active span + span
{
    display: inline;
}



/*----------------
    Bookmakers
----------------*/
.bookmakers
{
    margin-bottom: 49px;
}


.bookmakers .block_head
{
    margin-bottom: 42px;
}


.bookmakers .titles
{
    font-size: 15px;
    font-weight: 700;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    padding-right: 30px;
    padding-bottom: 17px;
    padding-left: 17px;

    gap: 32px;
}


.bookmakers .list
{
    display: flex;
    flex-direction: column;

    counter-reset: number;

    gap: 10px;
}


.bookmakers .list > *
{
    border-radius: 5px;
    background: #fff;
}


.bookmakers .item
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    padding: 17px 30px 17px 17px;

    gap: 32px;
}


.bookmakers .item:before
{
    font-size: 15px;
    font-weight: 700;
    line-height: 122%;

    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;

    width: 35px;
    height: 35px;
    padding-top: 7px;
    padding-right: 6px;

    content: counter(number);
    counter-increment: number;
    text-align: center;
    pointer-events: none;

    color: #fff;
    border-radius: 5px 0 35px 0;
    background: #f27216;
}


.bookmakers .item .col_logo
{
    border-radius: 5px;
}


.bookmakers .item .col_logo img
{
    display: block;

    width: 100%;

    border-radius: inherit;
}


.bookmakers .item .name
{
    font-size: 18px;
    font-weight: 700;
    line-height: 122%;

    align-self: center;

    max-width: calc(100% - 61px);
    margin-top: 2px;
}


.bookmakers .item .rating
{
    font-size: 12px;
    line-height: 122%;

    margin-left: 12px;
    padding: 5px;

    white-space: nowrap;
    text-transform: uppercase;

    color: #fff;
    border-radius: 5px;
    background: #6da544;
}


.bookmakers .item .desc
{
    font-size: 12px;
    line-height: 122%;

    width: 189px;
    max-width: 100%;
    margin-top: 9px;
}


.bookmakers .item .col_bonus
{
    font-size: 19px;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}


.bookmakers .item .col_bonus .icon
{
    display: block;

    width: 24px;
    height: 24px;

    color: #f27216;
}


.bookmakers .item .col_bonus span
{
    width: calc(100% - 36px);
}


.bookmakers .item .col_bonus b
{
    font-weight: 700;

    color: #f27216;
}


.bookmakers .item .col_payments
{
    font-size: 15px;
    line-height: 122%;
}


.bookmakers .item .col_games
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 8px;
}


.bookmakers .item .col_games > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 44px;
    height: 44px;

    color: #0a5dff;
    border-radius: 5px;
    background: #eee;
}


.bookmakers .item .col_games .icon
{
    display: block;

    width: 30px;
    height: 30px;
}

.bookmakers .item .col_games .icon.machines
{
    width: 25px;
    height: 23px;
}


.bookmakers .item .col_actions
{
    text-align: center;
}


.bookmakers .item .link
{
    font-weight: 500;

    display: block;

    padding: 13px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}


.bookmakers .item .spoler_btn
{
    font-weight: 500;

    margin-top: 13px;

    text-decoration: underline;

    text-decoration-thickness: 1px;
}


.bookmakers .item .spoler_btn span + span,
.bookmakers .item .spoler_btn.active span
{
    display: none;
}

.bookmakers .item .spoler_btn.active span + span
{
    display: inline;
}



.bookmakers .data
{
    display: none;

    padding: 24px 30px 20px 35px;

    border-top: 1px solid #e8e8e8;
}


.bookmakers .data .col_left
{
    line-height: 20px;

    width: calc(100% - 261px);
}


.bookmakers .data .col_right
{
    margin-left: auto;
}


.bookmakers .data .devices
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 20px;

    gap: 9px;
}


.bookmakers .data .devices .icon
{
    display: block;
}


.bookmakers .data .bonus
{
    font-size: 19px;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}


.bookmakers .data .bonus .icon
{
    display: block;

    width: 24px;
    height: 24px;
    margin-right: 12px;

    color: #f27216;
}


.bookmakers .data .bonus span
{
    max-width: calc(100% - 36px);
}


.bookmakers .data .bonus b
{
    font-weight: 700;

    color: #f27216;
}


.bookmakers .data .link
{
    margin-top: 20px;

    text-align: center;
}


.bookmakers .data .link a
{
    font-weight: 500;

    display: inline-block;

    padding: 12px 28px;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
    border: 1px solid #f27216;
    border-radius: 5px;
}



.bookmakers .col_logo
{
    width: 170px;
    min-width: 170px;
}

.bookmakers .col_info
{
    width: 100%;
}

.bookmakers .col_bonus
{
    width: 225px;
    min-width: 225px;
}

.bookmakers .col_payments,
.bookmakers .col_games
{
    width: 171px;
    min-width: 171px;
}

.bookmakers .col_actions
{
    width: 237px;
    min-width: 237px;
}



/*--------------
    Criteria
--------------*/
.criteria
{
    margin-bottom: 59px;
}


.criteria .block_head
{
    margin-bottom: 23px;
}


.criteria .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -24px;
    margin-left: -30px;
}


.criteria .row > *
{
    width: calc(33.333% - 30px);
    margin-bottom: 24px;
    margin-left: 30px;
}


.criteria .item
{
    line-height: 157%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 21px 24px 21px 22px;

    text-align: justify;

    border-radius: 5px;
    background: #fff;
}


.criteria .item .icon
{
    display: block;

    width: 24px;
    height: 24px;

    color: #f27216;
}


.criteria .item span
{
    width: calc(100% - 36px);
}



/*--------------------
    Top bookmakers
--------------------*/
.top_bookmakers
{
    margin-bottom: 29px;
}


.top_bookmakers .block_head
{
    margin-bottom: 25px;
}


.top_bookmakers .list
{
    counter-reset: number;

    border-radius: 5px;
    background: #fff;
}


.top_bookmakers .item
{
    position: relative;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 90px;
    padding: 10px 17px;
}


.top_bookmakers .item + .item
{
    border-top: 1px solid #ececec;
}


.top_bookmakers .item .number
{
    font-size: 12px;
    font-weight: 700;
    line-height: 30px;

    width: 30px;
    height: 30px;
    margin-right: 21px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: #0a5dff;
}


.top_bookmakers .item .number:before
{
    content: counter(number, decimal-leading-zero);
    counter-increment: number;
}


.top_bookmakers .item .logo
{
    width: 74px;
    max-width: 100%;
    margin-right: 30px;

    border-radius: 5px;
}


.top_bookmakers .item .logo img
{
    display: block;

    width: 100%;

    border-radius: inherit;
}


.top_bookmakers .item .info
{
    width: calc(100% - 155px);
}


.top_bookmakers .item .name
{
    font-size: 18px;
    font-weight: 700;
    line-height: 157%;
}


.top_bookmakers .item .desc
{
    line-height: 157%;

    margin-top: 1px;

    text-align: justify;
}



/*-------------
    Bonuses
-------------*/
.bonuses
{
    margin-bottom: 59px;
}


.bonuses .block_head
{
    margin-bottom: 28px;
}


.bonuses .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -30px;
    margin-left: -30px;
}


.bonuses .row > *
{
    width: calc(25% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}


.bonuses .item
{
    padding: 6px;

    border-radius: 5px;
    background: #fff;
}


.bonuses .item .thumb
{
    position: relative;

    padding-bottom: 55.639%;

    border-radius: 5px 5px 0 0;
}


.bonuses .item .thumb > img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.bonuses .item .logo
{
    position: absolute;
    z-index: 3;
    right: 20px;
    bottom: -45px;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 90px;
    height: 90px;
    padding: 4px;

    border-radius: 50%;
    background: #1a2137;
    box-shadow: 0 4px 13px 0 rgba(30, 35, 66, .11);
}

.bonuses .item .logo.black
{
    background: #000;
}


.bonuses .item .logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;
}


.bonuses .item .info
{
    padding: 16px 20px 26px;
}


.bonuses .item .bonus .label
{
    font-size: 15px;
    line-height: 122%;
}


.bonuses .item .bonus .val
{
    font-size: 32px;
    font-weight: 700;
    line-height: 122%;

    color: #01b2ff;
}


.bonuses .item .name
{
    font-size: 16px;
    font-weight: 700;

    margin-top: 20px;
}


.bonuses .item .code
{
    font-size: 15px;
    font-weight: 700;
    line-height: 122%;

    position: relative;

    margin-top: 20px;
    padding: 15px;

    border: 1px dashed #6da544;
    border-radius: 5px;
}


.bonuses .item .code .copy_btn
{
    position: absolute;
    top: 0;
    right: 0;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 41px;
    height: 100%;
}


.bonuses .item .code .copy_btn .icon
{
    display: block;

    width: 16px;
    height: 16px;
}


.bonuses .item .link
{
    width: calc(100% + 12px);
    margin: 0 -6px -6px;
}


.bonuses .item .link a
{
    font-weight: 500;

    display: block;

    padding: 13px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 0 0 5px 5px;
    background: #f27216;
}



.bonuses .banner
{
    display: block;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px;
}


.bonuses .mob_banner
{
    display: none;
}


.bonuses .banner img
{
    display: block;

    width: 100%;

    border-radius: inherit;
}



/*--------------
    Articles
--------------*/
.articles
{
    margin-bottom: 68px;
}


.articles .row
{
    align-content: stretch;
    align-items: stretch;

    margin-bottom: -30px;
    margin-left: -30px;
}


.articles .row > *
{
    width: calc(33.333% - 30px);
    margin-bottom: 30px;
    margin-left: 30px;
}

.articles .row > *.middle
{
    width: calc(66.666% - 30px);
}

.articles .row > *.big
{
    width: calc(100% - 30px);
}


.articles .article
{
    border-radius: 5px;
    background: #fff;
}


.articles .article .thumb
{
    position: relative;

    display: block;

    padding-bottom: 58.684%;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px 5px 0 0;
}


.articles .article .thumb img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.articles .article .info
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 24px 27px 26px 22px;
}


.articles .article .name
{
    font-size: 20px;
    font-weight: 700;
    line-height: 122%;

    width: 100%;
    margin-bottom: 14px;
}


.articles .article .name a
{
    display: inline-block;

    vertical-align: top;
    text-decoration: none;

    color: currentColor;
}


.articles .article .date,
.articles .article .comments_count,
.articles .article .views
{
    font-size: 13px;
    font-weight: 500;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    gap: 8px;
}


.articles .article .comments_count,
.articles .article .views
{
    margin-left: 24px;
}


.articles .article .date .icon,
.articles .article .comments_count .icon,
.articles .article .views .icon
{
    display: block;

    width: 20px;
    height: 20px;

    color: #0a5dff;
}


.articles .article .desc
{
    font-size: 15px;
    line-height: 138%;

    width: 100%;
    margin-top: 14px;
}


.articles .article .link
{
    width: 100%;
    margin-top: 24px;
}


.articles .article .link a
{
    font-weight: 500;

    display: inline-block;

    padding: 13px 35px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}



.articles .article.big
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}


.articles .article.big .thumb
{
    width: 50%;
    min-height: 354px;
    padding: 0;

    border-radius: 5px 0 0 5px;
}

.articles .article.big .info + .thumb
{
    border-radius: 0 5px 5px 0;
}


.articles .article.big .info
{
    width: 50%;
    padding: 34px 47px 37px 35px;
}


.articles .article.big .date,
.articles .article.big .comments_count,
.articles .article.big .views
{
    font-size: 15px;
}


.articles .article.big .date .icon,
.articles .article.big .comments_count .icon,
.articles .article.big .views .icon
{
    width: 24px;
    height: 24px;
}


.articles .article.big .name
{
    font-size: 26px;

    margin-bottom: 17px;
}


.articles .article.big .desc
{
    margin-top: 24px;
}


.articles .article.big .link
{
    margin-top: 39px;
}



.articles .banner
{
    display: block;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px;
}


.articles .banner img
{
    display: block;

    width: 100%;

    border-radius: inherit;
}



/*---------------
    Forecasts
---------------*/
.forecasts
{
    margin-bottom: 66px;
}

.forecasts.big_m
{
    margin-bottom: 73px;
}


.forecasts .block_head
{
    margin-bottom: 32px;
}


.forecasts .swiper
{
    overflow: visible !important;
}


.forecasts .swiper-slide
{
    visibility: hidden;

    width: 380px;

    transition: opacity .2s linear, visibility .2s linear;
    pointer-events: none;

    opacity: 0;
}


.forecasts .swiper-slide.visible
{
    visibility: visible;

    pointer-events: auto;

    opacity: 1;
}


.forecasts .forecast
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    height: 380px;
    padding: 36px;

    text-align: center;

    border-radius: 50%;
}


.forecasts .forecast.football
{
    background: url(../images/bg_foercast_football.png) 50%/100% 100% no-repeat;
}

.forecasts .forecast.mma
{
    background: url(../images/bg_foercast_mma.png) 50% no-repeat;
}

.forecasts .forecast.basketball
{
    background: url(../images/bg_foercast_basketball.png) 50%/100% 100% no-repeat;
}


.forecasts .forecast .tournament
{
    font-size: 24px;
    font-weight: 700;

    width: 100%;
}


.forecasts .forecast .date
{
    width: 100%;
    margin-top: 6px;
}


.forecasts .forecast .rivals
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin-top: 15px;
}


.forecasts .forecast .rivals > *:not(.sep)
{
    font-size: 13px;

    width: 110px;
    max-width: calc(50% - 9px);
    padding: 10px 8px;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 13px rgba(30, 35, 66, .11);
}


.forecasts .forecast .rivals .logo
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 79px;
    height: 79px;
    margin: 0 auto 5px;

    border-radius: 5px;
}


.forecasts .forecast .rivals .logo img
{
    display: block;

    max-width: 100%;
    max-height: 100%;

    border-radius: inherit;
}


.forecasts .forecast .rivals .sep
{
    font-size: 15px;

    width: 19px;
}


.forecasts .forecast .coefficients
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    width: 100%;
    margin-top: 22px;

    gap: 7px;
}


.forecasts .forecast .coefficients > *
{
    font-weight: 700;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 75px;
    max-width: 100%;
    height: 32px;
    padding: 0 6px 0 8px;

    border-radius: 5px;
    background: #fff;
    box-shadow: 0 4px 13px rgba(30, 35, 66, .11);
}


.forecasts .forecast .coefficients .green
{
    color: #6da544;
}


.forecasts .forecast .link
{
    width: 100%;
    margin-top: 16px;
}


.forecasts .forecast .link a
{
    font-weight: 500;

    display: inline-block;

    padding: 13px 19px;

    vertical-align: top;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}



/*-------------------
    Forecast head
-------------------*/
.forecast_head
{
    margin-bottom: 30px;
}


.forecast_head .data
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: 5px;
    background: #fff;
}


.forecast_head .image
{
    position: relative;

    width: calc(100% - 330px);
    min-height: 400px;

    border-radius: 5px;
}


.forecast_head .image img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.forecast_head .info
{
    width: 330px;
    max-width: 100%;
    margin-left: auto;
    padding: 30px;
}


.forecast_head .info > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 46px;
    padding-bottom: 10px;

    border-bottom: 1px solid #dbdbdb;
}


.forecast_head .info > * + *
{
    margin-top: 10px;
}


.forecast_head .label
{
    font-size: 12px;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - 85px);
}


.forecast_head .label .icon
{
    display: block;

    width: 20px;
    height: 20px;

    color: #0a5dff;
}


.forecast_head .label span
{
    width: calc(100% - 29px);
}


.forecast_head .val
{
    font-size: 12px;
    font-weight: 500;
    line-height: 122%;

    width: 65px;
    max-width: 100%;

    color: #f27216;
}


.forecast_head .author .name
{
    font-size: 20px;
    font-weight: 700;
    line-height: 122%;

    width: 100%;
    margin-top: 8px;

    color: #f27216;
}



/*-------------------
    Forecast info
-------------------*/
.forecast_info
{
    margin-bottom: 50px;
}


.forecast_info .coefficients
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: flex-start;

    width: 854px;
    max-width: 100%;

    gap: 10px;
}


.forecast_info .coefficients > *
{
    font-size: 20px;
    font-weight: 700;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    height: 52px;
    padding-left: 20px;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px;
    background: #fff;
}


.forecast_info .coefficients .logo img
{
    display: block;

    width: 113px;
    height: 52px;

    border-radius: 5px;

    object-fit: cover;
}



.forecast_info .bookmaker
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 30px;
    padding: 13px 20px 12px;

    border-radius: 5px;
    background: #fff;
}


.forecast_info .bookmaker .logo
{
    width: 170px;
    max-width: 100%;
    height: 57px;
}


.forecast_info .bookmaker .logo img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: 5px;

    object-fit: cover;
}


.forecast_info .bookmaker .coefficient
{
    font-size: 20px;
    font-weight: 700;
    line-height: 122%;

    margin-right: auto;
    margin-left: 43px;
}


.forecast_info .bookmaker .name
{
    font-size: 18px;
    font-weight: 600;
    line-height: 122%;
}


.forecast_info .bookmaker .bonus
{
    font-weight: 500;
    line-height: 122%;

    margin-left: auto;
    padding: 4px 12px 3px 13px;

    text-align: center;
    white-space: nowrap;

    border-radius: 5px;
    background: #f1f1f1;
}


.forecast_info .bookmaker .bonus .val
{
    font-size: 18px;
    font-weight: 600;
    line-height: 122%;

    color: #f27216;
}


.forecast_info .bookmaker .link
{
    width: 217px;
    max-width: 100%;
    margin-left: 18px;
}


.forecast_info .bookmaker .link a
{
    font-weight: 500;

    display: block;

    padding: 13px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}



/*------------------
    Article head
------------------*/
.article_head
{
    margin-bottom: 32px;
}


.article_head .data
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

    border-radius: 5px;
    background: #fff;
}


.article_head .image
{
    position: relative;

    width: calc(100% - 330px);
    min-height: 400px;

    border-radius: 5px;
}


.article_head .image img
{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.article_head .info
{
    width: 330px;
    max-width: 100%;
    margin-left: auto;
    padding: 30px;
}


.article_head .info > *
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 46px;
    padding-bottom: 10px;

    border-bottom: 1px solid #dbdbdb;
}


.article_head .info > * + *
{
    margin-top: 10px;
}


.article_head .label
{
    font-size: 12px;
    line-height: 122%;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - 85px);
}


.article_head .label .icon
{
    display: block;

    width: 20px;
    height: 20px;

    color: #0a5dff;
}


.article_head .label span
{
    width: calc(100% - 29px);
}


.article_head .val
{
    font-size: 12px;
    font-weight: 500;
    line-height: 122%;

    width: 65px;
    max-width: 100%;

    color: #f27216;
}


.article_head .author .name
{
    font-size: 20px;
    font-weight: 700;
    line-height: 122%;

    width: 100%;
    margin-top: 8px;

    color: #f27216;
}



/*------------------
    Article info
------------------*/
.article_info
{
    margin-bottom: 50px;
}



/*--------------------
    Bookmaker info
--------------------*/
.bookmaker_page
{
    margin-bottom: 73px;
}



.bookmaker_info .data
{
    display: flex;
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-bottom: 10px;
    padding: 20px 31px 20px 20px;

    color: #000;
    border-radius: 5px;
    background: #fff;
}


.bookmaker_info .data .info
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    width: calc(100% - 297px);
}


.bookmaker_info .data .logo
{
    width: 207px;
    max-width: 100%;
    height: 125px;

    border-radius: 5px;
}


.bookmaker_info .data .logo img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}


.bookmaker_info .data .logo + *
{
    width: calc(100% - 234px);
    margin-left: auto;
}


.bookmaker_info .data .name
{
    font-size: var(--font_size_title);
    font-weight: 700;
}


.bookmaker_info .data .bonus
{
    font-size: 15px;
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

    margin-top: 10px;
}


.bookmaker_info .data .bonus .icon
{
    display: block;

    width: 24px;
    height: 24px;

    color: #6da544;
}


.bookmaker_info .data .bonus span
{
    width: calc(100% - 34px);
}


.bookmaker_info .data .devices
{
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;

    margin-top: 18px;

    gap: 9px;
}


.bookmaker_info .data .devices .icon
{
    display: block;
}


.bookmaker_info .data .link
{
    width: 100%;
    margin-top: 15px;
}


.bookmaker_info .data .sep
{
    width: 1px;
    margin-right: auto;
    margin-left: 25px;

    border-radius: 5px;
    background: #dcdfe8;
}


.bookmaker_info .why
{
    align-self: center;

    width: 232px;
    max-width: 100%;
}


.bookmaker_info .why .title
{
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 14px;
}


.bookmaker_info .why .items
{
    display: flex;
    flex-direction: column;

    gap: 16px;
}


.bookmaker_info .why .items > *
{
    padding-left: 22px;

    background: url(../images/ic_check.svg) 0 2px/15px 15px no-repeat;
}



.bookmaker_info .features
{
    margin-bottom: 43px;
    padding: 19px 34px;

    border-radius: 5px;
    background: #fff;
}


.bookmaker_info .features > *
{
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-bottom: 10px;

    border-bottom: 1px solid #e6e6e6;
}


.bookmaker_info .features > * + *
{
    margin-top: 10px;
}


.bookmaker_info .features .label
{
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;

    width: 160px;
    max-width: 100%;

    text-transform: uppercase;
}


.bookmaker_info .features .val
{
    width: calc(100% - 240px);
}



.bookmaker_info .row
{
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;
}



.bookmaker_info .anchors
{
    width: 278px;
    max-width: 100%;
    padding: 26px 24px 23px;

    border-radius: 5px;
    background: #fff;
}


.bookmaker_info .anchors .title
{
    font-size: 16px;
    font-weight: 700;
    line-height: 122%;

    margin-bottom: 13px;
}


.bookmaker_info .anchors .items > * + *
{
    margin-top: -1px;
}


.bookmaker_info .anchors .btn
{
    display: block;

    width: 100%;
    padding: 10px 9px;

    text-align: left;

    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}


.bookmaker_info .banner
{
    display: block;

    width: calc(100% - 298px);
    margin-left: auto;

    text-decoration: none;

    color: currentColor;
    border-radius: 5px;
}


.bookmaker_info .banner img
{
    display: block;

    width: 100%;
    height: 100%;

    border-radius: inherit;

    object-fit: cover;
}



.bookmaker_info .link
{
    margin-top: 30px;
}


.bookmaker_info .link a
{
    font-weight: 500;

    display: block;

    padding: 13px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}



/*------------------
    Bonus banner
------------------*/
.bonus_banner
{
    margin-top: 41px;
}


.bonus_banner .data
{
    position: relative;

    display: block;

    padding: 54px 45px;

    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: linear-gradient(180deg, #0a5dff 0%, #0c2d93 100%);
}


.bonus_banner .title
{
    font-size: var(--font_size_title);
    font-weight: 700;
    line-height: 122%;

    margin-bottom: 19px;
}


.bonus_banner .text_block
{
    line-height: 122%;

    width: 450px;
    max-width: 100%;
}


.bonus_banner .text_block ol li + li
{
    margin-top: 16px;
}


.bonus_banner .btn
{
    font-weight: 500;

    width: 226px;
    max-width: 100%;
    margin-top: 22px;
    padding: 13px;

    text-align: center;

    border-radius: 5px;
    background: #f27216;
}


.bonus_banner .img
{
    position: absolute;
    right: 48px;
    bottom: 24px;

    display: block;

    height: 384px;
    max-height: 100%;

    pointer-events: none;
}


.bonus_banner + .text_block
{
    margin-top: 41px;
}



/*--------------------
    Pluses/Minuses
--------------------*/
.pluses_minuses
{
    margin-top: 46px;
}


.pluses_minuses .row
{
    align-content: stretch;
    align-items: stretch;
    justify-content: space-between;

    gap: 30px;
}


.pluses_minuses .row > *
{
    width: calc(50% - 15px);
    padding: 28px 29px;

    color: #fff;
    border-radius: 5px;
}


.pluses_minuses .pluses
{
    background: linear-gradient(100deg, #6da544 -.22%, #4b9514 97.76%);
}

.pluses_minuses .minuses
{
    background: linear-gradient(102deg, #ff6464 .49%, #e41212 108.44%);
}


.pluses_minuses .title
{
    font-size: 16px;
    font-weight: 700;

    margin-bottom: 14px;
}


.pluses_minuses .items
{
    display: flex;
    flex-direction: column;

    gap: 16px;
}


.pluses_minuses .items > *
{
    padding-left: 22px;

    background-repeat: no-repeat;
    background-position: 0 2px;
    background-size: 15px 15px;
}


.pluses_minuses .pluses .items > *
{
    background-image: url(../images/ic_plus.svg);
}

.pluses_minuses .minuses .items > *
{
    background-image: url(../images/ic_minus.svg);
}



/*---------
    FAQ
---------*/
.FAQ
{
    margin-bottom: 70px;
}


.content .FAQ
{
    margin-top: 52px;
}


.FAQ .block_head
{
    margin-bottom: 20px;
}


.FAQ .link
{
    margin-top: 55px;
}


.FAQ .link a
{
    font-weight: 500;

    display: block;

    padding: 13px;

    text-align: center;
    text-decoration: none;

    color: #fff;
    border-radius: 5px;
    background: #f27216;
}



/*----------------
    Conclusion
----------------*/
.conclusion
{
    margin-bottom: 58px;
}


.conclusion .block_head
{
    margin-bottom: 12px;
}



/*------------
    Footer
------------*/
footer
{
    padding: 26px 0;

    color: #fff;
    background: #273358;
}


footer .cont
{
    align-content: center;
    align-items: center;
    justify-content: space-between;
}



footer .logo
{
    font-size: 24px;
    font-weight: 700;

    display: block;

    margin-right: auto;

    white-space: nowrap;
    text-decoration: none;

    color: currentColor;
}



footer .menu
{
    gap: 42px;
}


footer .menu_item > a
{
    font-weight: 500;

    text-decoration: none;

    color: currentColor;
}



footer .langs
{
    margin-left: 24px;
}


footer .langs .btn
{
    font-weight: 500;

    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}


footer .langs .btn img
{
    display: block;

    width: 25px;
    height: 25px;
    margin-right: 8px;

    border-radius: 50%;
}


footer .langs .btn .icon
{
    display: block;

    width: 8px;
    height: 9px;
    margin-left: 6px;
}






/*----------------
    Dark theme
----------------*/
.dark_theme:root
{
    --bg: #1a2137;
    --text_color: #fff;
}



/*---------------
    Accordion
---------------*/
.dark_theme .accordion_item
{
    background: #273358;
}



/*---------------
    Page head
---------------*/
.dark_theme .breadcrumbs
{
    color: #a1a4ac;
}



.dark_theme .page_title.orange
{
    color: currentColor;
}



/*------------
    Header
------------*/
.dark_theme header
{
    background: #273358;
}


.dark_theme header .scroll
{
    border-color: rgba(255, 255, 255, .12);
}



/*-----------------
    Mob. header
-----------------*/
.dark_theme .mob_header
{
    background: #273358;
}



/*--------------------
    .First section
--------------------*/
.dark_theme .first_section
{
    background: linear-gradient(0deg, #273358 0%, #1a2137 100%);
}



/*----------------
    Bookmakers
----------------*/
.dark_theme .bookmakers .list > *
{
    background: #273358;
}


.dark_theme .bookmakers .item .col_games > *
{
    color: currentColor;
    background: #39497b;
}


.dark_theme .bookmakers .data
{
    border-color: #3a4770;
}



/*--------------
    Criteria
--------------*/
.dark_theme .criteria .item
{
    color: currentColor;
    background: #273358;
}



/*--------------------
    Top bookmakers
--------------------*/
.dark_theme .top_bookmakers .list
{
    background: #273358;
}


.dark_theme .top_bookmakers .item + .item
{
    border-color: #465071;
}



/*---------------
    Forecasts
---------------*/
.dark_theme .forecasts .forecast.football,
.dark_theme .forecasts .forecast.basketball
{
    background-color: #273358;
}


.dark_theme .forecasts .forecast.football
{
    background-image: url(../images/bg_foercast_football_dark_theme.png);
}

.dark_theme .forecasts .forecast.mma
{
    background-image: url(../images/bg_foercast_mma_dark_theme.png);
}

.dark_theme .forecasts .forecast.basketball
{
    background-image: url(../images/bg_foercast_basketball_dark_theme.png);
}


.dark_theme .forecasts .forecast .rivals > *:not(.sep)
{
    border: 1px solid #5b6892;
    background: none;
    box-shadow: none;
}


.dark_theme .forecasts .forecast .coefficients
{
    color: #6da544;
}


.dark_theme .forecasts .forecast .coefficients .green
{
    color: #000;
}



/*-------------------
    Forecast head
-------------------*/
.dark_theme .forecast_head .data
{
    background: #273358;
}


.dark_theme .forecast_head .label
{
    color: #7683ab;
}


.dark_theme .forecast_head .author .name,
.dark_theme .forecast_head .val
{
    color: var(--text_color);
}



/*-------------------
    Forecast info
-------------------*/
.dark_theme .forecast_info .coefficients > *
{
    color: #5d6ea5;
    background: #273358;
}


.dark_theme .forecast_info .coefficients span
{
    color: #fff;
}



.dark_theme .forecast_info .bookmaker
{
    background: #273358;
}


.dark_theme .forecast_info .bookmaker .bonus
{
    background: #303e6a;
}



/*--------------------
    Bookmaker info
--------------------*/
.dark_theme .bookmaker_info .features
{
    background: #273358;
}


.dark_theme .bookmaker_info .features > *
{
    border-color: #465071;
}



.dark_theme .bookmaker_info .anchors
{
    background: #273358;
}


.dark_theme .bookmaker_info .anchors .btn
{
    border-color: #465071;
}



/*-------------
    Bonuses
-------------*/
.dark_theme .bonuses .item
{
    background: #273358;
}


.dark_theme .bonuses .item .logo.black
{
    background: #fff;
}



/*--------------
    Articles
--------------*/
.dark_theme .articles .article
{
    background: #273358;
}



/*------------------
    Article head
------------------*/
.dark_theme .article_head .data
{
    background: #273358;
}


.dark_theme .article_head .label
{
    color: #7683ab;
}


.dark_theme .article_head .author .name,
.dark_theme .article_head .val
{
    color: var(--text_color);
}
